[Unit]
Description=vault-unsealer
After=network.target

# restart forever
StartLimitIntervalSec=0

[Service]
Type=simple
# begin you may need to change this
User=vault_unsealer
Group=vault_unsealer_group
# end
ExecStart=/usr/local/bin/vault-unsealer -conf /etc/vault-unsealer.json

PrivateTmp=true
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
SyslogIdentifier=vault-unsealer

# restart forever
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target